body {
  font-family: "Cairo", sans-serif;
  background-color: #fbfbfb;
}

.v-locale--is-rtl {
  span:has(span[class*="left"]),
  span:has(span[class$="left"]),
  span:has(span[class*="right"]),
  span:has(span[class$="right"]) {
    transform: scaleX(-1);
    display: block;
  }
}

.cursor-pointer {
  cursor: pointer;
}
