.main-btn {
  background-color: $primary;
  color: $white;
}

.button {
  &.button--outline {
    background-color: $white;
    color: $primary;
    border: 1px solid $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: max-content;
    padding: 0 12px;
    border-radius: 8px;
  }
  &.button--small {
    padding: 8px 16px;
    font-size: 14px;
  }
  &.button--large {
    padding: 16px 32px;
    font-size: 18px;
  }
  &.button--disabled {
    background-color: $gray;
    color: $white;
    cursor: not-allowed;
  }
  &.button--loading {
    background-color: $primary;
    color: $white;
    cursor: not-allowed;
  }
  &.button--edit {
    background-color: $primary;
    color: $white;
  }
  &.button--delete {
    background-color: $error;
    color: $white;
  }
}
