.content {
  padding: 16px 32px;
  background-color: $white;
  box-shadow: 0 0 10px rgba($black, 0.1);
  border-radius: 16px;
}

.router-link {
  text-decoration: none;
  color: $black;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border-radius: 8px;
  color: $primary;
  background-color: $white;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px rgba($black, 0.1);
  &:hover {
    background-color: $primary;
    color: $white;
  }

  &.router-link-active,
  &.router-link-exact-active {
    background-color: $primary;
    color: $white;
  }
}
